{% extends 'index.html' %}

{% block content %}
<!-- {% load static %} -->

<h1>Ohjelmointitermit</h1>
{{x}}
<h2>Löydä ohjelmointitermit ja niiden selitykset</h2>

{% for t in termit %} 

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">Termi{{t.termi}} </h3>
        <h5 class="card-text">Term: {{t.term}}</h5>
        <p class="card-text">Selitys: {{t.selitys}}</p>
        <a href="/edit-treeniliikkeet-get/{{t.id}}/" class="btn btn-primary">Edit</a>

        <a href="/confirm-delete-treeniliikkeet/{{t.id}}/" class="btn btn-danger">Delete</a>

        

    </div>
</div>


{% empty %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">No products found in the database </p>
    </div>
</div>
{%endfor%}
{% endblock %}